@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../src/components/layout/Navbar.css';

:root {
  --primary-color: #041C32;
  --secondary-color: #04293A;
  --blue-color: #064663;
  --ligt-brown-color: #ECB365;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: var(--secondary-color);
}

.container {
  max-width: 1028px;
  margin: 0 auto;
}

main {
  position: relative;
  min-height: 80vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: var(--primary-color);
  margin: auto;
}

.about,
.not-found {
  text-align: center;
}

.not-found-link {
  color: #fff;
  padding: 5px;
  margin-top: 20px;
}