* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #DDAF94;
  --secondary-color: #E8CEBF;
  --light-color: #FDF8F5;
  --dark-green: #266150;
  --dark-gray: #4F4846;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  background-color: var(--light-color);
  color: var(--dark-gray);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}