.slide-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.left-arrow {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 20px;
  background-color: rgb(194, 188, 178);
  color: white;
  cursor: pointer;
  padding: 6px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -10%;
  font-size: 20px;
  background-color: rgb(194, 188, 178);
  color: white;
  cursor: pointer;
  padding: 6px;
}