@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e1b382;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #c89666;
  color: #12343b;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  padding: 20px 40px;
  margin: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c89666;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  margin-left: -56px;
  margin-top: -12px;
}

.text {
  color: #12343b;
  font-size: 0.9rem;
  margin-top: 10px;
}

.buttons {
  text-align: right;
}

.close {
  border: none;
  background-color: #fff;
  margin: 0 3px;
}

.feedback-stats {
  text-align: center;

}

.btn {
  border: none;
  padding: 2px 5px;
  margin: 5px;
}

.btn-primary {
  background-color: #12343b;
  color: #fff;
}

.btn-secondary {
  background-color: rgb(255, 169, 8);
  color: #fff;
}

.btn:disabled {
  background-color: #ccc;
}

[type='radio'] {
  opacity: 0;
}

[type='radio']:checked~label {
  background: rgb(255, 169, 8);
  color: #fff;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
}

.rating li,
.num-display {
  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover,
.num-display {
  background: rgb(255, 169, 8);
  color: #fff;
}


@media (max-width: 600px) {
  .rating li {
    margin: 10px 3px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}